    @font-face {
      font-family: 'MyCustomFont'; /* Name your font */
      src: url('./junigarden_swash.zip') format('zip'), /* Or other formats */
           url('./junigarden_swash.zip') format('zip');
      font-weight: normal; /* Or other weights as needed */
      font-style: normal;   /* Or other styles as needed */
    }