.imageBg {
    background-image: url('../assets/images/bgg4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;

    /* background-size: cover;  */
}